.checkout_header {
  height: 90px;
}

.checkout_heading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout_content {
  padding: 20px;
}

.stepperButtons {
  display: flex;
  justify-content: space-between;
}
.jsd12 {
  justify-content: flex-end;
}

@media screen and (max-width: 755px) {
  .crtimg {
    width: 100%;
  }
  .headingtextt {
    text-align: center;
  }
  .jsd12 {
    justify-content: center;
  }
}
