.product_row {
  margin: 0px;
}

.product_row_list {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  justify-content: space-between;
  padding: 0px;
}

.product_row_list::-webkit-scrollbar {
  display: none;
}

.product_row_list::-webkit-scrollbar-button {
  display: -webkit-flex;
}

.card {
  margin-right: 10px;
  /*transition: transform 450ms;*/
}
